* {
  margin: 0;
}
body {
  background-color: #f5f5f5;
}
.container {
  display: grid;
  grid-template-areas:
    "menu content content content right right"
    "menu content content content right right"
    "menu bottom bottom bottom bottom bottom"
    "menu bottom bottom bottom bottom bottom"
    "menu bottom bottom bottom bottom bottom";
}
.menu {
  grid-area: menu;
  padding: 20px;
  height: 100vh;
}
.content {
  grid-area: content;
  padding: 20px;
}
.desc {
  grid-area: right;
  padding: 20px;
}
hr {
  border-top: 3px solid red;
  width: 30%;
  margin-top: 4%;
}
.footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 20px;
  grid-area: bottom;
  padding: 20px;
}
.menu {
  /* flex: 20%; */
  margin: 5px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-style: normal;
  /* text-align: center; */
  line-height: 50px;
  margin-top: 20px;
  text-align: center;
}

.menu h4 {
  margin-top: 25px;
  text-align: left;
  margin-left: 25%;
  color: #c8c8c8;
  color: #c0c0c0;
  font-size: 20px;
}

.button {
  background-color: #ff0033;
  border: none;
  color: white;
  padding: 20px 60px 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 4px;
  margin-top: 20%;
  opacity: 0.6;
  transition: 0.3s;
}
.button:hover {
  opacity: 1;
}

.button5 {
  border-radius: 30px;
}
.title {
  font-size: 40px;
  margin-top: 20%;
}
.desc {
  color: #c0c0c0;
  align-content: center;
}
.desc-child {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 70%;
  font-size: 20px;
  text-align: left;
  font-weight: 100;
  line-height: 30px;
  margin-top: 30%;
}

/* Card Styling */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 80%;
  margin-top: 10%;
  border-radius: 25px;
  background-color: white;
}
.card .container {
  padding: 2px 16px;
  padding-left: 30px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */

.card img {
  border-radius: 50%;
  width: 70%;
  height: 50%;
  object-fit: cover;
  margin-top: 20%;
  margin-left: 15%;
}
.card h3 {
  margin-top: 20%;
}
/* Styling card items */
.card-items {
  display: grid;
  flex-direction: column;
  align-content: center;
  padding: 0px;
}

/* Responsive Design starts here */
@media (min-width: 600px) {
  label {
    visibility: hidden;
  }
  .menu img {
    display: none;
  }
}
@media (max-width: 600px) {
  .menu h4 {
    display: none;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 20px;
    width: 75vw;
    margin-top: 40%;
  }

  .menu {
    order: 1;
    flex: 15%;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    margin-top: 5%;
  }
  .menu img {
    height: 50%;
    width: 20%;
    margin-top: 0.5em;
  }
  .menu-1 {
    flex: 15%;
  }
  .menu-2 {
    flex: 60%;
  }
  .menu-3 {
    flex: 20%;
  }

  .content {
    order: 2;
    flex: 25%;
    padding: 0;
    margin: 0;
    margin-left: 10vh;
    margin-right: 70vh;
    /* margin-top: %; */
  }
  .desc-child {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 90%;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    line-height: 30px;
    margin-top: 10%;
  }

  .desc {
    flex: 40%;
    order: 4;
  }
  .footer {
    flex: 20%;
    display: grid;
    grid-template-columns: 70% 70%;
    grid-column-gap: 0px;
    order: 3;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 30%;
    width: 60%;
    transition: 0.3s;
    height: 90%;
    margin-top: 10%;
    border-radius: 25px;
    background-color: white;
  }
  .card .container {
    padding: 2px 16px;
    padding-left: 30px;
  }

  .card img {
    border-radius: 50%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    margin-top: 20%;
    margin-left: 15%;
  }
  .card-1 {
    margin-left: 10%;
  }
  .card-2 {
    margin-left: -20%;
  }
  .card-3 {
    margin-left: 10%;
  }
  .card-4 {
    margin-left: -20%;
  }
  .last-card {
    display: none;
  }
  .menu h1 span {
    display: none;
  }
  .menu button {
    display: none;
  }
}
@media (max-width: 320px) {
  .card .container {
    padding: 2px 16px;
    padding-left: 15px;
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  .card-3 .container {
    margin-top: -15px;
  }
  .card-4 .container {
    margin-top: -15px;
  }
}
